<?xml version="1.0" encoding="UTF-8"?>
<!--
@author: Rodrigo Reis
@email: rodrigo.reis@cronapp.io
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-cronapp"
    version="1.0.2">
    <name>Cronapp Plugin</name>
    <description>Cordova Cronapp Plugin Dependencies</description>
    <license>Apache 2.0</license>
    <keywords>cordova,cronapp,plugin</keywords>
    <repo>https://github.com/CronApp/cordova-plugin-cronapp.git</repo>

    <dependency id="cordova-plugin-buildinfo" version=">=2.x" />
	<dependency id="cordova-plugin-camera" version=">=4.x" />
	<dependency id="cordova-plugin-device" version=">=2.x" />
	<dependency id="cordova-plugin-file" version=">=6.x" />
	<dependency id="cordova-plugin-firebase" version=">=1.x" />
	<dependency id="cordova-plugin-geolocation" version=">=4.x" />
	<dependency id="cordova-plugin-vibration" version=">=3.x" />
	<dependency id="cordova-plugin-whitelist" version=">=1.x" />
</plugin>
